/* This is to univerally affect our stylying */
.jacquard-12-charted-regular {
    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

:root{
    --beige-color:beige;
}

*{
    background-color: var(--beige-color);
}
.title{
    color: hsl(62,37%,58%);
    background-color: color-mix(in srgb, #FFFFFF 25%, black) ;  
    width: 14em;
    text-align: center;
    font-family: "Jacquard 12 Charted"; 
    font-weight: 40;   

}


#backAttendance{
    margin-top: 50px;
    background-color: rgb(159,140,118);
    width:35vw; 
}


#backAgenda{
    background-color: rgb(159,140,118);
    width: 80px;  
}

#contentM{
    background-color: color(srgb-linear 0 1 0);
    width: 5.5cm;
    border-style: dotted;
    border-color: #17d0f5;
    border-width: 4px;
    border-radius: 25%;
}

#important{
    background-color:rgb(159,140,118);
    width: 6rem;
    padding: 0px 10px 0px;
}

#typesForms{
    background-color:#17d0f5;
    width: 1.5in;
}
.names{
    margin: 0px 0px 20px;
    text-decoration: underline;
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: flex-start;

    
}
#picture{
    margin:auto;
    padding-bottom: 5%;
}
#diagram{
    display:inline;
    height: 500px;
    width: 100%;
}

#video{
    max-width: 50%;
    min-width: 30%
}
#textAUDIO{
    display:none;
}

#comm{
    position: relative;
}

#audio{
    position: static;
    bottom: 40%;
    left: 20%;
    max-width: 50%;
}

button:hover{
    background-color:blue;
}
button:active{
    background-color: orange;
}

@media (min-width: 5in) {
    div {
      background: beige;
    }
  }

.agenda{
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-template-rows: auto; 
    column-gap: 5%;
    row-gap: 15px;
}

h2{
    font-family: 'Times New Roman';
}

a[href="https://www.youtube.com/watch?v=xvFZjo5PgG0"]{
    border-style: dashed;
    border-color: red;
}

p:hover{
    border-style: dotted;
    background-color: yellow;
}

p, h3{
    font-family: verdana;
}

ul > li{
    border-top: dotted;
}

li:first-of-type + li {
    color: red;
}

h2 ~ p{
    color: blue;
}

.agenda li {
    background-color: yellowgreen;
}

li ul{
    color: blue;
    background-color: yellowgreen ;
}

div:has(p){
    background-color: yellowgreen;
}

form{
    border-style: dotted;
    & label{
       color: orange;
    }
}